body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 400px;
    background-color: #2f48ec;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}